<%- include('./partials/header.ejs'); -%>
<div class="container-md">
    <div class="row justify-content-center my-3">
        <div class="col-lg-10 mt-5 mb-4">
            <!-- ------- -->
            <div class="border-bottom border-1 p-0 mx-0 mt-0 mb-3" style="height: 5px;"></div>
            <!-- ------- -->

            <div class="row mx-1 mt-3">
                <div class="col ps-3">
                    <h5 class="title-font-op text-uppercase">Account Details</h5>
                </div>
                <div class="col-2 py-0">
                    <a 
                        class="nav-link text-dark fw-bold text-end p-0" 
                        style="font-size: smaller;" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#accountForm" 
                        aria-expanded="false" 
                        aria-controls="accountForm"
                        role="button">EDIT
                    </a>
                </div>
            </div>

            <div class="row my-3 mx-1">
                <div class="col ps-3">
                    <!-- USERNAME -->
                    <div>
                        <span class="label-text text-muted">Username</span>
                    </div>
                    <div class="mb-4">
                        <span><i class="label-text text-muted fas fa-user fa-lg pe-2"></i><%= user.userName %></span>
                    </div>
                    
                </div>
                <!-- EMAIL -->
                <div class="col ps-3">
                    <div>
                        <span class="label-text text-muted">Account Email</span>
                    </div>
                    <div>
                        <span><i class="label-text text-muted fas fa-at fa-lg pe-2"></i><%= user.email %></span>
                    </div>
                </div>
                
                <!-- MEMBER SINCE -->
                <div class="col ps-3">
                    <div>
                        <span class="label-text text-muted">Member Since</span>
                    </div>
                    <div>
                        <span><i class="label-text text-muted far fa-calendar-alt fa-lg pe-2"></i><%= user.createdAt.toDateString().split(' ').slice(1).join(' ') %></span>
                    </div>
                </div>
            </div>
        
            <!-- ------- -->
            <div class="border-bottom border-1 p-0 mx-0 mt-0 mb-3" style="height: 5px;"></div>
            <!-- ------- -->
    
            <div class="collapse" id="accountForm">
                <div class="card card-body">
                    <!-- form START -->
                    <%- include('./partials/edit-account-form.ejs'); -%>       
                    <!-- form END -->
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs'); -%>