<!-- read only, view details of a plant -->
<%- include('partials/header') -%>
<div class="container">
    <div class="row justify-content-center my-2">

        <div class="col-lg-6">
            <div class="plot-card card img-fluid border-light">
                            
                <img src="<%= plant.image %>" class="card-img plot-image" alt="Plant Image">
                
                <div class="d-flex align-items-end card-img-overlay p-0">
                    <div class="d-flex justify-content-between row head-overlay">
                        <div class="col-6 bg-dark text-white overlay-left-hd ps-4 pt-3">
                            <h2 class="title-font text-uppercase mb-0"><%= plant.nameCommon %></h2>
                            <h4 class="title-font text-lowercase ps-2 mt-0"><%= plant.nameSCI %></h4>
                        </div>
                        
                        <div class="col-4 d-flex bg-dark overlay-right-hd ps-5 pt-3 mt-4">
                            <a  class="text-white" style="text-decoration: none;" href="/plot/<%= plant.plotID %>">
                                <div class="d-flex">
                                    <span class="pe-2"><i class="fas fa-angle-up fa-2x"></i></span>
                                    <h5 class="mt-1"><span>Back to Plot</span></h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------- -->
            <div class="row border-bottom border-1 p-0 m-0" style="height: 10px;"></div>
            <!-- ------- -->

            <div>
                <div class="row gy-2 gx-3 mb-4 mt-3">
                    <div class="col-lg-4">
                        <!-- plant name -->
                        <div class="mb-4">
                            <span class="label-text text-muted">Plant Name</span>
                            <div>
                                <span><%= plant.nameCommon %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- SCI -->
                        <div class="mb-4">
                            <span class="label-text text-muted">Scientific Name</span>
                            <div>
                                <span><%= plant.nameSCI %></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row gy-2 gx-3 my-4">
                        <!-- light -->
                    <div class="col-lg-4">
                        <div>
                            <span class="label-text text-muted">Sun Exposure</span>
                        </div>
                        <div>
                            <span><i class="label-text text-muted fas fa-sun fa-lg pe-2"></i><%= plant.light %></span>
                        </div>
                    </div>
                    <!-- water -->
                    <div class="col-lg-4">
                        <div>
                            <span class="label-text text-muted">Water Needs</span>
                        </div>
                        <div>
                            <span><i class="label-text text-muted fas fa-tint fa-lg pe-2"></i><%= plant.water %></span>
                        </div>
                    </div>
                    <!-- soil -->
                    <div class="col-lg-4">
                        <div>
                            <span class="label-text text-muted">Soil Preference</span>
                        </div>
                        <div>
                            <span><i class="label-text text-muted fas fa-ellipsis-v fa-lg pe-2"></i><%= plant.soil %></span>
                        </div>
                    </div>
                </div>
                <!-- ------- -->
                <div class="row border-bottom border-1 p-0 m-0" style="height: 10px;"></div>
                <!-- ------- -->
            
                <div class="row my-3">
                        <div class="col-lg-7">
                            <!-- height -->
                            <div class="mb-3">
                                <div>
                                    <span class="label-text text-muted">Growth Height</span>
                                </div>
                                <div>
                                    <div><i class="label-text text-muted fas fa-arrows-alt-v fa-lg pe-3"></i><%= plant.height %></div>
                                </div>
                            </div>
                            <!-- spread -->
                            <div class="mb-3">
                                <div>
                                    <span class="label-text text-muted">Spread</span>
                                </div>
                                <div>
                                    <span><i class="label-text text-muted fas fa-arrows-alt-h fa-lg pe-3"></i><%= plant.spread %></span>
                                </div>
                            </div>
                            <!-- origin -->
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="mb-3">
                                        <span class="label-text text-muted">Native Origin</span>
                                        <div>
                                            <span><%= plant.nativeOrigin %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-6 col-lg-4">
                            <!-- zone -->
                            <div class="row gx-3 mb-3">
                                <div>
                                    <span class="label-text text-muted"><a href="https://planthardiness.ars.usda.gov/PHZMWeb/" target="_blank">USDA Hardiness Zone</a></span>
                                </div>
                                <div>
                                    <span><i class="label-text text-muted fas fa-globe-americas fa-lg pe-2"></i><%= plant.zoneMin %><span class="px-2">-</span><%= plant.zoneMax %></span>
                                </div>
                            </div>
            
                            <!-- bloom -->
                        <div class="row gx-3">
                            <div>
                                <span class="label-text text-muted">Bloom Season</span>
                            </div>
                            <div>
                                <span><i class="label-text text-muted far fa-sun fa-lg pe-2"></i><%= plant.bloomSeason %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------- -->
                <div class="row border-bottom border-1 p-0 m-0" style="height: 10px;"></div>
                <!-- ------- -->
                    <div class="row justify-content-between my-3">
                        
                        <div class="col-md-5">
                            <!-- status -->
                            <div>
                                <span class="label-text text-muted">Planting Status</span>
                            </div>
                            <div class="mb-3">
                                <span><i class="label-text text-muted fas fa-check fa-lg pe-2"></i><%= plant.status %></span>
                            </div>
                            <!-- current health -->
                            <div>
                                <span class="label-text text-muted">Current Health</span>
                            </div>
                            <div class="mb-3">
                                <span><i class="label-text text-muted fas fa-smile fa-lg"></i><i class="label-text text-muted fas fa-sad-tear fa-lg pe-2"></i><%= plant.health %></span>
                            </div>
                            <!-- notes -->
                            <div>
                                <span class="label-text text-muted">Notes</span>
                            </div>
                            <div class="mb-3">  
                                <p>
                                    <span><i class="label-text text-muted fas fa-pencil-alt fa-lg pe-2"></i></span><%= plant.notes %>
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <!-- year planted -->
                            <div>
                                <span class="label-text text-muted">Year Planted</span>
                            </div>
                            <div class="mb-3">
                                <span><i class="label-text text-muted far fa-calendar-alt fa-lg pe-2"></i><%= plant.planted.year %>, <%= plant.planted.season %></span>
                            </div>
                            <!-- number of plants -->
                            <span class="label-text text-muted">Number of Plants</span>
                            <div class="col-6">
                                <div class="mb-3">
                                    <span ><i class="label-text text-muted fas fa-seedling"></i><i class="label-text text-muted fas fa-seedling pe-2"></i></span>
                                    <span><%= plant.numPlanted %></span>
                                </div>
                            </div>
                            <div class="col">
                                <!-- pests -->
                                <span class="label-text text-muted">Known Pests & Diseases</span>
                                <div>
                                    <p>
                                        <span class=""><i class="label-text text-muted fas fa-bug fa-lg"></i><i class="label-text text-muted fas fa-viruses fa-lg pe-2"></i></span><%= plant.pests %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
                <div class="row justify-content-end m-3">
                    <form action="/plant/deletePlant/<%= plant.id %>?_method=DELETE" method="POST" class="col-3">
                        <button class="btn btn-danger" type="submit"><span style="font-size: 1.5rem"><i class="fas fa-recycle pe-2"></i></span><span>Compost</span></button>
                    </form>
                    <div class="col">
                        <a class="btn btn-primary" href="/plant/<%= plant.id %>/edit" role="button"><i class="fas fa-pencil-alt fa-lg pe-2"></i>Edit Plant Details</a>
                    </div>
                </div>


        </div>
    </div>
</div>

<%- include('partials/footer') -%>