<!-- read only, view details of a plant -->
<%- include('partials/header') -%>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <h2><%= plant.nameCommon %></h2>
            <img class="img-fluid" src="<%= plant.image%>" />
        </div>
    </div>

    <div class="col-3 mt-5">
        <ul>
            <li> Common Name: <%= plant.nameCommon %> </li>
            <li> Scientific Name: <%= plant.nameSCI %> </li>
            <li> Sun Exposure: <%= plant.light %> </li>
            <li> Soil: <%= plant.soil %> </li>
            <li> Growth Height: <%= plant.height %> </li>
            <li> Spread: <%= plant.spread %> </li>
            <li> Hardiness: <%= plant.zoneMin %> to <%= plant.zoneMax %> </li>
            <li> Bloom Season: <%= plant.bloomSeason %> </li>
            <li> Native Origin: <%= plant.nativeOrigin %> </li>
            <li> Planting Status: <%= plant.status %> </li>
            <li> Year Planted: <%= plant.yearPlanted %> </li>
            <li> Number of Plants: <%= plant.numPlanted %> </li>
            <li> Current Health: <%= plant.health %> </li>
            <li> Notes: <%= plant.notes %> </li>
        </ul>
    </div>
    <form action="/plant/deletePlant/<%= plant.id %>?_method=DELETE" method="POST" class="col-3">
        <button class="btn" type="submit"><span style="font-size: 1.5rem"><i class="fas fa-recycle"></i></span><span>Compost</span></button>
    </form>
    <a class="btn btnAlt" href="/plant/<%= plant.id %>/edit">Edit Plant</a>
    

</div>

<%- include('partials/footer') -%>