<!-- header, garden name, season; back button -->
<!-- buttons: "add plant" "edit plot" "filter" "sort by" dropdown -->

<!-- list plants in plot -->
<%- include('./partials/header.ejs'); -%>
<div class="container">
    

    <div class="">
        <button class="open-button" onclick="openForm()">Add Plant</button>
        <div class="form-popup" id="myForm">

            <form action="/plant/createPlant" enctype="multipart/form-data" method="POST">

                <div class="mb-3">
                    <label for="plantName" class="form-label">Plant Name:</label>
                    <input type="text" class="form-control" id="nameCommon" name="plantName">
                </div>

                <div class="mb-3">
                    <label for="plantNameSCI" class="form-label">Scientific Name:</label>
                    <input type="text" class="form-control" id="nameSCI" name="plantNameSCI">
                </div>

                <div class="mb-3">
                    <label for="imgUpload" class="form-label">Image:</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                </div>

                <div class="mb-3">
                    <label for="light" class="form-label">Light:</a></label>
                    <select id="light" name="light">
                        <option value="N/A">N/A</option>
                        <option value="Full-Shade">Full-Shade</option>
                        <option value="Shade-Partial">Full-Shade to Part-Sun</option>
                        <option value="Sun-Partial">Full-Sun to Part-Shade</option>
                        <option value="Full-Sun">Full-Sun</option>
                        <option value="Sun-Shade">Sun to Shade</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="soil" class="form-label">Soil:</a></label>
                    <select id="soil" name="soil">
                        <option value="N/A">N/A</option>
                        <option value="Moist-Soil">Moist-Soil</option>
                        <option value="Average-Soil">Average-Soil</option>
                        <option value="Well-Drained">Well-Drained</option>
                        <option value="Drought-Tolerant">Drought-Tolerant</option>
                    </select>
                </div>

                <div>
                    <label for="minHeight" class="form-label">Growth Height:</label>
                    <input type="text" class="form-control" id="minHeight" name="minHeight">
                    <input type="text" class="form-control" id="maxHeight" name="maxHeight">
                    <select id=heightInc name="heightInc">
                        <option value=" ">N/A</option>
                        <option value="in">in</option>
                        <option value="cm">cm</option>
                    </select>
                </div>

                <div>
                    <label for="spread" class="form-label">Spread:</label>
                    <input type="text" class="form-control" id="minSpread" name="minSpread">
                    <input type="text" class="form-control" id="maxSpread" name="maxSpread">
                    <select id=spreadInc name="spreadInc">
                        <option value=" ">N/A</option>
                        <option value="in">in</option>
                        <option value="cm">cm</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="zoneMin" class="form-label"><a href="https://planthardiness.ars.usda.gov/PHZMWeb/" target="_blank">USDA Zone:</a></label>
                    <select id="zoneMin" name="zoneMin">
                        <option value="N/A">N/A</option>
                        <option value="1a">1a</option>
                        <option value="1b">1b</option>
                        <option value="2a">2a</option>
                        <option value="2b">2b</option>
                        <option value="3a">3a</option>
                        <option value="3b">3b</option>
                        <option value="4a">4a</option>
                        <option value="4b">4b</option>
                        <option value="5a">5a</option>
                        <option value="5b">5b</option>
                        <option value="6a">6a</option>
                        <option value="6b">6b</option>
                        <option value="7a">7a</option>
                        <option value="7b">7b</option>
                        <option value="8a">8a</option>
                        <option value="8b">8b</option>
                        <option value="9a">9a</option>
                        <option value="9b">9b</option>
                        <option value="10a">10a</option>
                        <option value="10b">10b</option>
                        <option value="11a">11a</option>
                        <option value="11b">11b</option>
                        <option value="12a">12a</option>
                        <option value="12b">12b</option>
                        <option value="13a">13a</option>
                        <option value="13b">13b</option>
                    </select>
                    <span>to</span>
                    <select id="zoneMax" name="zoneMax">
                        <option value="N/A">N/A</option>
                        <option value="1a">1a</option>
                        <option value="1b">1b</option>
                        <option value="2a">2a</option>
                        <option value="2b">2b</option>
                        <option value="3a">3a</option>
                        <option value="3b">3b</option>
                        <option value="4a">4a</option>
                        <option value="4b">4b</option>
                        <option value="5a">5a</option>
                        <option value="5b">5b</option>
                        <option value="6a">6a</option>
                        <option value="6b">6b</option>
                        <option value="7a">7a</option>
                        <option value="7b">7b</option>
                        <option value="8a">8a</option>
                        <option value="8b">8b</option>
                        <option value="9a">9a</option>
                        <option value="9b">9b</option>
                        <option value="10a">10a</option>
                        <option value="10b">10b</option>
                        <option value="11a">11a</option>
                        <option value="11b">11b</option>
                        <option value="12a">12a</option>
                        <option value="12b">12b</option>
                        <option value="13a">13a</option>
                        <option value="13b">13b</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="bloomSeason" class="form-label"></label>Bloom Season:</label>
                    <select id="seasonStart" name="seasonStart">
                        <option value=" "> </option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="Spring">Spring</option>
                        <option value="Early-Spring">Early-Spring</option>
                        <option value="Mid-Spring">Mid-Spring</option>
                        <option value="Late-Spring">Late-Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Early-Summer">Early-Summer</option>
                        <option value="Mid-Summer">Mid-Summer</option>
                        <option value="Late-Summer">Late-Summer</option>
                        <option value="Early-Fall">Early-Fall</option>
                        <option value="Fall">Fall</option>
                        <option value="Late-Fall">Late-Fall</option>
                        <option value="Year-Round">Year-Round</option>
                    </select>
                    <span>to</span>
                    <select id="seasonEnd" name="seasonEnd">
                        <option value=" "> </option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="Spring">Spring</option>
                        <option value="Early-Spring">Early-Spring</option>
                        <option value="Mid-Spring">Mid-Spring</option>
                        <option value="Late-Spring">Late-Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Early-Summer">Early-Summer</option>
                        <option value="Mid-Summer">Mid-Summer</option>
                        <option value="Late-Summer">Late-Summer</option>
                        <option value="Early-Fall">Early-Fall</option>
                        <option value="Fall">Fall</option>
                        <option value="Late-Fall">Late-Fall</option>
                        <option value="Year-Round">Year-Round</option>
                    </select>
                </div>

                <div>
                    <label for="nativeOrigin" class="form-label">Native Origin:</label>
                    <input type="text" class="form-control" id="nativeOrigin" name="nativeOrigin">
                </div>

                <div>
                    <input type="number" min="1900" max="2099" step="1" value="2021" />
                </div>

                <div>
                    <label for="numPlanted" class="form-label">Number of Plants:</label>
                    <input type="number" class="form-control" id="numPlanted" name="numPlanted">
                </div>
                <div>
                    <label for="status" class="form-label">Planting Status:</label>
                    <select id=status name="status">
                        <option value=" "> </option>
                        <option value="To-Plant">To-Plant</option>
                        <option value="Planted">Planted</option>
                    </select>
                </div>

                <div>
                    <label for="health" class="form-label">Current Health:</label>
                    <select id=health name="health">
                        <option value=" "> </option>
                        <option value="Active">Active</option>
                        <option value="Thriving">Thriving</option>
                        <option value="Failed">Failed</option>
                    </select>
                </div>

                <div>
                    <label for="notes" class="form-label">Notes:</label>
                    <textarea id=notes name="notes"></textarea>
                </div>

                <input type="hidden" id="plotID" name= "plotID" value="<%= plot._id %>"> 

                <button type="submit" class="btn" value="Upload">Save</button>
                <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>

            </form>
            
        </div>
        <!-- <a class="btn" href="/addPlant">Add a Plant</a> -->
    </div>

    <!-- all plants for user-->
    <div><%= plot.name %></div>
    <div class="row-6 align-content-center">
        <ul class="row list-unstyled">
        <% for(var i=0; i < plants.length; i++) {%>
                <li class="col-6 justify-content-between mt-5">
                <a href="/plant/<%= plants[i]._id%>">
                    <img class="img-fluid" src="<%= plants[i].image %>" alt="User's Garden Plot">
                    <span> <%= plants[i].nameCommon %> </span>
                </a>
                </li>
        <% } %>    
        </ul>
    </div>
    




</div>

<%- include('./partials/footer.ejs'); -%>

<!-- footer -->