<%- include('./partials/header.ejs'); -%>

<div class="container bg-white p-3">

    <div class="mx-3 mt-2">
    <!-- "season dropdown" "create a plot button" -->
        <div class="d-flex row justify-content-end">
            <div class="col-lg-4 col-sm-5  my-2">
                <select class="h-100 w-100" >
                    <option>Season</option>
                </select>
            </div>
            <div class="col-lg-5 col-sm-7">
                <a class="btn btn-primary w-100" href="/startPlot" role="button"><i class="fas fa-tractor fa-lg pe-2"></i>Create a Plot</a>
            </div>
            
        </div>

        <div class="">
            <h2><p>Hello <%= user.userName %></p></h2>
            
        </div>
    
    </div>

    <!-- all plots for user-->
    <div class="container-fluid p-0">
        <div class="row row-md-cols-2 gx-3 gy-4">
            <% for(var i=0; i < plots.length; i++) {%>
                
                <div class="col-lg-6">
                    <a href="/plot/<%= plots[i]._id%>">
                        <div class="plot-card card img-fluid border-light">
                            
                            <img src="<%= plots[i].image %>" class="card-img plot-image" alt="User's Garden Plot">
                            
                            <div class="d-flex align-items-end card-img-overlay p-0">
                                <div class="d-flex justify-content-between row p-overlay">
                                    <div class="col-6 d-flex bg-dark text-white overlay-left">
                                        <span class="align-self-center"> <%= plots[i].name %> </span>
                                    </div>
                                    <div class="col-2 d-flex bg-dark text-white overlay-right">
                                        <span class="align-self-center"><i class="fas fa-angle-double-right fa-2x"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>    
        </div>
    </div>
    

</div>

<%- include('./partials/footer.ejs'); -%>