<%- include('./partials/header.ejs'); -%>

<div class="container bg-white">
<!-- showcase section -->
    <section class="p-2 text-center">
    <!-- "season dropdown" "create a plot button" -->
        <div class="row">
            <div class="col-5">
                <select class="h-100 w-100" >
                    <option>Season</option>
                </select>
            </div>
            <div class="col-7">
                <a class="btn btn-primary w-100" href="/startPlot" role="button"><i class="fas fa-tractor fa-lg pe-2"></i>Create a Plot</a>
            </div>
            
        </div>
    
    </section>

    <div class="">
        <h2><p>Hello <%= user.userName %></p></h2>
        
    </div>

    <!-- all plots for user-->
    <div class="row align-content-center">
        <ul>
        <% for(var i=0; i < plots.length; i++) {%>
                <li>
                    <a href="/plot/<%= plots[i]._id%>">
                        <div class="col-sm-8 plot-card card img-fluid border-light mb-3">
                            
                            <img src="<%= plots[i].image %>" class="card-img-bottom" alt="User's Garden Plot">
                            
                                
                                <div class="card-img-overlay row plot-overlay">
                                    <div class="col-6 bg-dark">
                                        <span> <%= plots[i].name %> </span>
                                    </div>
                                    <div class="col-2">

                                    </div>
                                </div>
                        </div>
                    </a>
                </li>
        <% } %>    
        </ul>
    </div>
    




</div>

<%- include('./partials/footer.ejs'); -%>