<%- include('./partials/header.ejs'); -%>

<div class="container">

    <div class="row mb-2 mt-3 mx-0 px-0 ">
        <div class="row justify-content-center">
            <div class="text-center col-lg-5 col-sm-7 py-2 px-2 mb-5">
                <h2><p>Hello <%= user.userName %></p></h2>
                
            </div>
        </div>
    
    </div>
    <div class="row justify-content-between mb-2 mt-3 mx-0 px-0 ">
        <div class="col-sm-5 col-md-6 py-0 px-2">
            <h1 class="title-font-op text-uppercase ps-3">Plots</h1>
        </div>
        <div class="col-sm-7 col-md-6 py-0 px-2">
            <a class="btn btn-primary w-100" href="/startPlot" role="button"><i class="fas fa-tractor fa-lg pe-2"></i>Start a New Plot</a>
        </div>
        
        <!-- ------- -->
        <div class="row border-bottom border-1 py-0 px-2 my-0 mx-2" style="height: 10px;"></div>
        <!-- ------- -->
    
    </div>

    <!-- all plots for user-->
    <div class="container-fluid p-0">
        <div class="row row-md-cols-2 gx-3 gy-4 mb-5">
            <% for(var i=0; i < plots.length; i++) {%>
                
                <div class="col-lg-6">
                    <a href="/plot/<%= plots[i]._id%>">
                        <div class="image-card card img-fluid border-light">
                            
                            <img src="<%= plots[i].image %>" class="card-img plot-image" alt="User's Garden Plot">
                            
                            <div class="d-flex align-items-end card-img-overlay p-0">
                                <div class="d-flex justify-content-between row p-overlay">
                                    <div class="col-6 d-flex bg-dark text-white overlay-left">
                                        <span class="align-self-center"> <%= plots[i].name %> </span>
                                    </div>
                                    <div class="col-3 d-flex bg-dark text-white overlay-right mt-3">
                                        <span class="align-self-center"><i class="fas fa-angle-double-right fa-2x"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>    
        </div>
    </div>
    <div class="row justify-content-between mb-2 mt-5 mx-0 px-0 ">
        <div style="height: 20px;"></div>
        <div class="col-md-6 py-0 px-2">
            <h1 class="title-font-op text-uppercase ps-3">Collections</h1>
        </div>
        <div class="col-md-6 py-0 px-2">
            <a class="btn btn-primary btn-alt w-100" href="/startCollection" role="button"><i class="fas fa-book-open fa-lg pe-2"></i>Add a Collection</a>
        </div>
        
        <!-- ------- -->
        <div class="row border-bottom border-1 py-0 px-2 my-0 mx-2" style="height: 10px;"></div>
        <!-- ------- -->
    
    </div>

</div>

<%- include('./partials/footer.ejs'); -%>